[
  {:db/id #db/id[:db.part/db]
   :db/ident :person/name
   :db/valueType :db.type/string
   :db/cardinality :db.cardinality/one
   :db/doc "A person's name"
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :person/surname
   :db/valueType :db.type/string
   :db/cardinality :db.cardinality/one
   :db/doc "A person's surname"
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :person/birth-year
   :db/valueType :db.type/long
   :db/cardinality :db.cardinality/one
   :db/unique :db.unique/identity
   :db/doc "A person's birth year"
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :company/name
   :db/valueType :db.type/string
   :db/cardinality :db.cardinality/one
   :db/unique :db.unique/identity
   :db/doc "A person's name"
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :company/employee
   :db/valueType :db.type/ref
   :db/cardinality :db.cardinality/many
   :db/doc "Company employees"
   :db.install/_attribute :db.part/db}
]
